<!DOCTYPE html>
<html>

<script
src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
crossorigin="anonymous"></script>

<script
src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
crossorigin="anonymous"></script>

<link rel="stylesheet"
href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
crossorigin="anonymous">

<link rel="stylesheet"
href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
crossorigin="anonymous">

<link(rel="stylesheet" href="/stylesheets/bootstrap-social.css">


<body background="/images/TNG50_protocluster_z1_dm_gasvel_4k.png">
    <div class="row" style="padding-top:5%"></div>
        <div class="col-md-4 col-sm-3 col-xs-1"></div>
        <div class="col-md-4 col-sm-6 col-xs-9"
            style="background-image:url(/images/TNG50_protocluster_z1_dm_gasvel_4k.png);
            background-size: 100% 100%, 40% 20%; background-repeat: no-repeat,repeat;">
        <style class="h4">{font-size: 30px;color: #ebebeb;}</style>
            <form action="/register" method="POST">
        
            <p style="color:#ebebeb; margin-top:10px"><strong>Name</strong>:</p>
            <input type="text" name="name" placeholder="Name">
            <p style="color:#ebebeb; margin-top:10px"><strong>Surname</strong>:</p>
            <input type="text" name="Surname" placeholder="Surname">
            <p style="color:#ebebeb; margin-top:10px"><strong>Email</strong>:</p>
            <input type="text" name="email" placeholder="Email">
            <p style="color:#ebebeb; margin-top:10px"><strong>Password</strong>:</p>
            <input type="text" name="Password" placeholder="Password">
            <br></br>
            <button class="btn btn-primary btn-block" type="submit">Register to use the DAQ</button>
            </form>
    </div>
</body>
</html>
